In [1]:
from pandas import Series
import numpy as np
import pandas as pd

In [2]:
times = pd.date_range('20000101', periods=100, freq='T')

In [3]:
ts = Series(np.arange(100), index=times)

In [4]:
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
2000-01-01 00:12:00    12
2000-01-01 00:13:00    13
2000-01-01 00:14:00    14
2000-01-01 00:15:00    15
2000-01-01 00:16:00    16
2000-01-01 00:17:00    17
2000-01-01 00:18:00    18
2000-01-01 00:19:00    19
2000-01-01 00:20:00    20
2000-01-01 00:21:00    21
2000-01-01 00:22:00    22
2000-01-01 00:23:00    23
2000-01-01 00:24:00    24
2000-01-01 00:25:00    25
2000-01-01 00:26:00    26
2000-01-01 00:27:00    27
2000-01-01 00:28:00    28
2000-01-01 00:29:00    29
                       ..
2000-01-01 01:10:00    70
2000-01-01 01:11:00    71
2000-01-01 01:12:00    72
2000-01-01 01:13:00    73
2000-01-01 01:14:00    74
2000-01-01 01:15:00    75
2000-01-01 01:16:00    76
2000-01-01 01:17:00    77
2000-01-01 01:18:00    78
2000-01-01 01:19:00    79
2000-01-01 01:20:00    80
2000-01-01 01:21:00    81
2000-01-01 01:22:00    82
2000-01-01 01:23:00    83
2000-01-01 01:24:00    84
2000-01-01 01:25:00    85
2000-01-01 01:26:00    86
2000-01-01 01:27:00    87
2000-01-01 01:28:00    88
2000-01-01 01:29:00    89
2000-01-01 01:30:00    90
2000-01-01 01:31:00    91
2000-01-01 01:32:00    92
2000-01-01 01:33:00    93
2000-01-01 01:34:00    94
2000-01-01 01:35:00    95
2000-01-01 01:36:00    96
2000-01-01 01:37:00    97
2000-01-01 01:38:00    98
2000-01-01 01:39:00    99
Freq: T, Length: 100, dtype: int64

In [5]:
ts.resample('10min', closed='left', label='left').ohlc()

                     open  high  low  close
2000-01-01 00:00:00     0     9    0      9
2000-01-01 00:10:00    10    19   10     19
2000-01-01 00:20:00    20    29   20     29
2000-01-01 00:30:00    30    39   30     39
2000-01-01 00:40:00    40    49   40     49
2000-01-01 00:50:00    50    59   50     59
2000-01-01 01:00:00    60    69   60     69
2000-01-01 01:10:00    70    79   70     79
2000-01-01 01:20:00    80    89   80     89
2000-01-01 01:30:00    90    99   90     99